@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/Canela-BoldItalic.eot');
    src: url('../assets/fonts/Canela-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Canela-BoldItalic.woff2') format('woff2'),
        url('../assets/fonts/Canela-BoldItalic.woff') format('woff'),
        url('../assets/fonts/Canela-BoldItalic.ttf') format('truetype'),
        url('../assets/fonts/Canela-BoldItalic.svg#Canela-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/Canela-Bold.eot');
    src: url('../assets/fonts/Canela-Bold.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Canela-Bold.woff2') format('woff2'),
        url('../assets/fonts/Canela-Bold.woff') format('woff'),
        url('../assets/fonts/Canela-Bold.ttf') format('truetype'),
        url('../assets/fonts/Canela-Bold.svg#Canela-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../assets/fonts/Sailec-Regular.eot');
    src: url('../assets/fonts/Sailec-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Sailec-Regular.woff2') format('woff2'),
        url('../assets/fonts/Sailec-Regular.woff') format('woff'),
        url('../assets/fonts/Sailec-Regular.ttf') format('truetype'),
        url('../assets/fonts/Sailec-Regular.svg#Sailec-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../assets/fonts/Sailec-BlackItalic.eot');
    src: url('../assets/fonts/Sailec-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Sailec-BlackItalic.woff2') format('woff2'),
        url('../assets/fonts/Sailec-BlackItalic.woff') format('woff'),
        url('../assets/fonts/Sailec-BlackItalic.ttf') format('truetype'),
        url('../assets/fonts/Sailec-BlackItalic.svg#Sailec-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Sailec';
    src: url('../assets/fonts/Sailec-Black.eot');
    src: url('../assets/fonts/Sailec-Black.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Sailec-Black.woff2') format('woff2'),
        url('../assets/fonts/Sailec-Black.woff') format('woff'),
        url('../assets/fonts/Sailec-Black.ttf') format('truetype'),
        url('../assets/fonts/Sailec-Black.svg#Sailec-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec';
    src: url('../assets/fonts/Sailec-LightItalic.eot');
    src: url('../assets/fonts/Sailec-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Sailec-LightItalic.woff2') format('woff2'),
        url('../assets/fonts/Sailec-LightItalic.woff') format('woff'),
        url('../assets/fonts/Sailec-LightItalic.ttf') format('truetype'),
        url('../assets/fonts/Sailec-LightItalic.svg#Sailec-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sailec';
    src: url('../assets/fonts/Sailec-Light.eot');
    src: url('../assets/fonts/Sailec-Light.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Sailec-Light.woff2') format('woff2'),
        url('../assets/fonts/Sailec-Light.woff') format('woff'),
        url('../assets/fonts/Sailec-Light.ttf') format('truetype'),
        url('../assets/fonts/Sailec-Light.svg#Sailec-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Sailec-RegularItalic';
    src: url('../assets/fonts/Sailec-RegularItalic.eot');
    src: url('../assets/fonts/Sailec-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Sailec-RegularItalic.woff2') format('woff2'),
        url('../assets/fonts/Sailec-RegularItalic.woff') format('woff'),
        url('../assets/fonts/Sailec-RegularItalic.ttf') format('truetype'),
        url('../assets/fonts/Sailec-RegularItalic.svg#Sailec-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/Canela-ThinItalic.eot');
    src: url('../assets/fonts/Canela-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Canela-ThinItalic.woff2') format('woff2'),
        url('../assets/fonts/Canela-ThinItalic.woff') format('woff'),
        url('../assets/fonts/Canela-ThinItalic.ttf') format('truetype'),
        url('../assets/fonts/Canela-ThinItalic.svg#Canela-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Canela';
    src: url('../assets/fonts/Canela-Thin.eot');
    src: url('../assets/fonts/Canela-Thin.eot?#iefix') format('embedded-opentype'),
        url('../assets/fonts/Canela-Thin.woff2') format('woff2'),
        url('../assets/fonts/Canela-Thin.woff') format('woff'),
        url('../assets/fonts/Canela-Thin.ttf') format('truetype'),
        url('../assets/fonts/Canela-Thin.svg#Canela-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Optima';
    src: url('assets/fonts/Optima-Bold.eot');
    src: url('assets/fonts/Optima-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Optima-Bold.woff2') format('woff2'),
        url('assets/fonts/Optima-Bold.woff') format('woff'),
        url('assets/fonts/Optima-Bold.ttf') format('truetype'),
        url('assets/fonts/Optima-Bold.svg#Optima-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}




@import url("https://use.typekit.net/aey1xxs.css");
