* {
    box-sizing: border-box;
}

body {
    background: #141212;
    color: #f0e6e6;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Sailec";
    overflow-x: hidden !important;
}

#container {
    position: absolute;
    width: 100% !important;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    vertical-align: center;
    align-items: center;
    box-sizing: border-box !important;
}

.section {
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    justify-content: center;

}

.header {
    min-height: 500px;
    flex-wrap: wrap;
    vertical-align: center;
    align-items: center;
    background-image: url(../assets/images/landing-bg.png);
    background-repeat: repeat-x;
    background-position: center top;
    background-size: cover;
}

img {
    max-height: 200px;
    max-width: 100%;

}

.candidate {
    display: inline-block;
    vertical-align: top;
}


.candidate-sec {
    padding: 30px 0 30px 0;
    max-width: 700px;
    width: 90%;
    min-height: 450px;
}


.candidate-desc {
    width: 60%;

}

.candidate-pic {
    position: absolute;
    width: 50%;
    right: 20px;
    z-index: -99;
    filter: grayscale(100%);
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.pic-left {
    position: absolute;
    right: 30%;
}

.desc-right {
    width: 70%;
    margin-left: 30%;
}


.candidate-sec:hover .candidate-pic {
    filter: grayscale(10%);
}

p {
    text-align: left;
}

@media only screen and (max-width:600px) {

    body {
        width: 100%;
        overflow-x: hidden;
    }

    #container {
        height: auto;
        width: 100%;
        box-sizing: content-box;
    }

    #list-btn {
        position: fixed;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;

    }

    .section {
        width: 100% !important;
        overflow-x: hidden !important;
    }


    .candidate {
        text-align: center;
        width: 100%;
    }

    .candidate-pic {
        position: relative;
        text-align: center;
        float: none;
        clear: both;
        left: 0;
        z-index: 99;
    }

    .header-title {
        margin-top: 20% !important;
        padding: 1em;
        font-size: .8em;
        margin: 0 1em 0 1em;
        box-sizing: border-box;
    }

    .landing-yang {
        display: none;
    }

    .desc-right {
        position: relative;
        margin: 0;
    }

    .pic-left {
        position: relative;
        right: 0;
    }

    .candidate-title {
        float: none;
        clear: both;
        text-align: center;
    }

    #intro {
        padding: 3em;
        margin-top: -100px !important;
    }

}

.candidate-photos {
    display: flex;
    position: relative;
    width: 100%;
    padding: 1em 0 1em;
}

.candidate-photo {
    display: inline-block;
    min-width: 170px;
    margin: 0 1em 0 1em;
}


.candidate {
    padding: 2%;
}

.landing {
    position: relative;
    height: 100%;
    min-height: 400px;
    display: flex;
    vertical-align: center;
    justify-content: center;
}

.landing-img {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
}

.header-title {
    margin-top: 100px;
}

.header h1 {
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    font-family: "Optima";
    color: #ffa906;
    letter-spacing: 1px;
    max-width: 600px;
    margin: 0;
}

.header h2 {
    margin: 0;
    color: #fff;
    font-family: "Canela";
    font-weight: 400;
    font-size: 1.7em;
    font-style: italic;
    text-align: center;
}

.header .title {
    font-size: 3.8em;
    margin: 0 1em 0 1em;
    padding: 0 1em 0 1em;
    line-height: 1em;
    text-align: center;
    font-weight: 700;
    font-style: normal;
}

.header .open {
    padding: 5% 5% 0 5%;
}

#intro .header-description {
    width: 90%;
    font-family: Sailec;
    padding: em 2em 0 2em;
    line-height: 1.7em;
    max-width: 600px;
}

.header-description a {
    font-family: "Canela";
    text-align: center;
    color: #f7f1f1;
    text-decoration: none;
    font-size: 22px;
}


a.btn-interview {
    border: 0;
    text-decoration: none;
}

.btn-interview h3 {
    text-decoration: none;
    color: #fff;
    font-family: "Canela";
    font-style: italic;
    font-size: 1.6em;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.btn-interview sub {
    font-weight: 100;
    font-style: normal;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.btn-interview:hover h3 {
    color: #dd8f07;
    text-shadow: 0 0 20px #dd8f07;
}

.btn-interview:hover sub {
    color: #fff;
}

#intro {
    margin-top: -80px;
}

h1 {
    font-family: "Canela";
    color: #f0eaea;
    text-align: center !important;
    display: block;
    font-size: 2.9em;
    line-height: 1.2em;
    margin: 0;
}

h2 {
    text-decoration: none;
    clear: both;
    margin: -.5em;
    color: #f8c779;
    font-weight: 500;
    font-size: 1.1em;
}

.candidate-sec p {
    margin: 0;
}


#footer {
    border-top: 1px solid #fff;
    margin-bottom: 1em;
    height: auto;
}

#footer p {
    font-size: .9em;
}

#footer a {
    font-family: "Canela";
    display: block;
    margin: 0;
    text-decoration: none;
    color: #fff;
    padding: .5em;
}

#footer a:hover {
    color: #f8c779;
}

#footer sub {
    line-height: 1.1em;
}

.candidate-title {
    text-align: center;
    display: block;
}

.candidate-title h2 {
    margin: 0;
    padding: 0;
    margin-bottom: -1em;
}

.candidate-desc em {
    font-weight: bold;
    font-style: normal;
}

.candidate-desc quoteblock {
    padding: 1em;
    quotes: "“""”""‘""’";
}


.candidate-desc quoteblock:before {
    content: open-quote;
    font-size: 3.5em;
    position: relative;
    display: inline;
    top: 20px;
    left: -3px;
    color: #f8c779;
}

.candidate-desc quoteblock:after {
    content: close-quote;
    font-size: 3.5em;
    position: relative;
    display: inline;
    top: 30px;
    left: 5px;
    color: #f8c779;
    line-height: 10px;
}




.thepolitic {
    font-family: "Georgia" !important;
    font-weight: 800;
}


/* LIST */

#list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 18, 18, 0.9);
    display: none;
    flex-wrap: wrap;
    vertical-align: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 99999;
}

.list-inner {
    max-width: 700px;
    margin: auto;
}

.list-inner a {
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 1.6em;
    line-height: 1.4em;
    font-family: "Canela";
    color: #f8c779;
    font-style: italic;
    padding: 3% 0 3% 0;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

.list-inner a:hover {
    color: #dd8f07;
}

.list-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.list-bottom a {
    text-align: center;
    text-decoration: none;
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: .8em;
}

.list-close {
    position: fixed;
    top: 0;
    right: 0;
    padding: 1em;
    font-family: "Canela";
    font-size: 1.7em;
    font-style: italic;
}

#list-btn {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    background: #141212;
    width: 100%;
    z-index: 9009;
    padding: .5em;
}

#list-btn a {
    font-family: "Canela";
    font-style: italic;
    color: #fff;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}

#list-btn a:hover {
    color: #dd8f07;
    text-shadow: 0 0 20px #dd8f07
}
